@font-face {
    font-family: Sportium;
    src: url(./fuentes/RaceSport-BWPLV.ttf);
}
body{
    font-family: Sportium;
    background: fixed url(./imagenes/foto-porteria.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangulo{
    background-color: rgba(255, 255, 255, 0.589);
    width: 55%;
    height: 50%;
}
.titulo{
    margin-top: -10px;
    font-size: 20px;
    text-align: center;
}
.formulario{
    margin-top: 45px;
    margin-left: 19%;
}
.input{
    width: 61%;
    height: 35px;
    border: none;
    border-radius: 10px;
    
    
}
.boton-añadir{
    margin-left: 5%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;

}

.boton-acciones{

    margin-top: 5%;
    margin-left: 9%;
}
.boton-mostrar{

    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #009c00;
    color: #ffffff;
    margin-left: 20%;
}
.boton-clean{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #c50202;
    color: #ffffff;
    margin-left: 20%;
}
#boton-eliminar{
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #c5025d;
    color: #ffffff;
    margin-left: 25px;
}

.boton-añadir:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.boton-mostrar:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.boton-clean:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.listilla{
    display: flex;
    justify-content: center;
    margin-left: -5%;
    
}
#tituloLista{
    margin-top: 6%;
    display: flex;
    justify-content: center;
    margin-left: -5%;
}
.lista1{
    margin-left: 31%;
    margin-top: -2%;
    display: flex;
    justify-content: center;
    width: 30%;
}

